[Unit]
Description=Legion Go tablet mode service

[Service]
Type=exec
ExecStart=/usr/local/bin/lgo1-tablet
Restart=always
RestartSec=10s

[Install]
WantedBy=graphical.target